@using Homefind.Core.DomainModels
@using Homefind.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity

@model EstateUnit
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

@section Scripts{
    <script src="~/assets/js/map.js"></script>
    <script src="~/Scripts/reviews.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6vM8Z6929t6fNJvvXLe_r_yha2C_XAno"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6vM8Z6929t6fNJvvXLe_r_yha2C_XAno&libraries=places"></script>

    <script src="~/assets/mdb/js/popper.min.js"></script>
    <script src="~/assets/mdb/js/bootstrap.min.js"></script>
    <script src="~/assets/mdb/js/mdb.js"></script>
}

@section Styles{
    <link href="~/assets/mdb/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/mdb/css/mdb.min.css" rel="stylesheet" />
    <link href="~/assets/css/main2.css" rel="stylesheet" />
}

<div id="content" class="section-padding">
    <div class="container">

        <!--Modal reviews-->
        <div id="review-component">
            @await Component.InvokeAsync("Reviews", new { user = Model.PostedBy })
        </div>

        <div class="property-details">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="info">
                        <h3>@Model.Title <span class="badge">sale</span></h3>
                        <p class="address"><i class="lni-map-marker"></i> @Model.EstateLocation.Address</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="details">
                        <div class="details-listing">
                            <p>Bedrooms</p>
                            <h5>@Model.Bedrooms</h5>
                        </div>
                        <div class="details-listing">
                            <p>Washrooms</p>
                            <h5>@Model.Bathrooms</h5>
                        </div>
                        <div class="details-listing">
                            <p>Size (Sq.ft)</p>
                            <h5>@Model.CarpetArea</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="others">
                        <ul>
                            <li><span>$@Model.Price</span></li>
                            <li><a href="#"><i class="lni-bookmark-alt"></i></a></li>
                            <li>
                                <a id="btnAddToFavourites">
                                    @if (!Model.IsMarkedAsFavourite)
                                    {
                                        <i class="fas fa-heart"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-heart fa-heart-red"></i>
                                    }
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Product Info Start -->
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="property-slider">
                    <div id="property-slider" class="owl-carousel owl-theme">
                        @foreach (var picture in Model.EstateImages)
                        {
                            <div class="item">
                                <img src='@Url.Action("ViewImage", "Property", new { imageId = picture.Id })' alt="">
                            </div>
                        }
                    </div>
                </div>

                <div class="inner-box property-dsc">
                    <h2 class="desc-title">Property Description</h2>
                    <p>@Model.Description</p>
                </div>

                <div class="inner-box short-info">
                    <h2 class="desc-title">Quick Summary</h2>
                    <ul class="additional-details">
                        <li>
                            <strong>AC:</strong>
                            <span>Central</span>
                        </li>
                        <li>
                            <strong>ACRES:</strong>
                            <span>0.14</span>
                        </li>
                        <li>
                            <strong>ACRES SOURCE:</strong>
                            <span>Assessor</span>
                        </li>
                        <li>
                            <strong>AP #:</strong>
                            <span>2639-017-020</span>
                        </li>
                        <li>
                            <strong>APPLIANCES:</strong>
                            <span>Cooktop - Gas, Dishwasher, Freestanding Gas Range, Garbage Disposal</span>
                        </li>
                        <li>
                            <strong>BATHROOM DESCRIPTION:</strong>
                            <span>Remodeled, Skylight(s), Tile Walls</span>
                        </li>
                        <li>
                            <strong>DOORS &amp; WINDOWS:</strong>
                            <span>Double Pane Windows, Skylights</span>
                        </li>
                        <li>
                            <strong>FIREPLACE DESCRIPTION:</strong>
                            <span>Brick</span>
                        </li>
                        <li>
                            <strong>FIREPLACE FUEL:</strong>
                            <span>Uses Both Gas &amp; Wood</span>
                        </li>
                        <li>
                            <strong>FIREPLACE LOCATION:</strong>
                            <span>Living Room</span>
                        </li>
                        <li>
                            <strong>FLOORS:</strong>
                            <span>Carpet - Partial, Ceramic Tile</span>
                        </li>
                        <li>
                            <strong>PLUMBING:</strong>
                            <span>Full Copper Plumbing</span>
                        </li>
                    </ul>
                </div>

                <div class="inner-box featured">
                    <h2 class="desc-title">Details</h2>
                    <ul class="property-features">
                        <li>Building Age: <span>2 Years</span></li>
                        <li>Parking: <span>Attached Garage</span></li>
                        <li>Cooling: <span>Central Cooling</span></li>
                        <li>Heating: <span>Forced Air, Gas</span></li>
                        <li>Sewer: <span>Public/City</span></li>
                        <li>Water: <span>City</span></li>
                        <li>Exercise Room: <span>Yes</span></li>
                        <li>Storage Room: <span>Yes</span></li>
                    </ul>
                </div>

                <div class="inner-box featured">
                    <h2 class="desc-title">Features</h2>
                    <ul class="property-features checkboxes">
                        @if (Model.EstateFeature.HasAirConditioning)
                        {
                            <li><i class="lni-check-box"></i> Air Conditioning</li>
                        }
                        @if (Model.EstateFeature.HasCarParking)
                        {
                            <li><i class="lni-check-box"></i> Car Parking</li>
                        }
                        @if (Model.EstateFeature.HasSwimmingPool)
                        {
                            <li><i class="lni-check-box"></i> Swimming Pool</li>
                        }
                        @if (Model.EstateFeature.HasInternet)
                        {
                            <li><i class="lni-check-box"></i> Internet</li>
                        }
                        @if (Model.EstateFeature.HasTv)
                        {
                            <li><i class="lni-check-box"></i> TV</li>
                        }
                        @if (Model.EstateFeature.IsFurnished)
                        {
                            <li><i class="lni-check-box"></i> Furnished</li>
                        }
                        @if (Model.EstateFeature.ArePetsAllowed)
                        {
                            <li><i class="lni-check-box"></i> Pets Allowed</li>
                        }
                    </ul>
                </div>

                <!-- Widget -->
                <div class="widget mb2">
                    <div class="widget-wrap">
                        <button class="widget-button"><i class="fas fa-graduation-cap"></i></button>
                        <span>Schools</span>
                    </div>
                    <div class="widget-wrap">
                        <button class="widget-button"><i class="fas fa-utensils"></i></button>
                        <span>Restaurants</span>
                    </div>
                    <div class="widget-wrap">
                        <button class="widget-button"><i class="fas fa-dollar-sign"></i></button>
                        <span>Banks</span>
                    </div>
                    <div class="widget-wrap">
                        <button class="widget-button"><i class="fas fa-shopping-cart"></i></button>
                        <span>Supermarkets</span>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="inner-box location-map">
                    <h2 class="desc-title">Location On Map</h2>
                    <div id="conatiner-map"></div>
                </div>

            </div>

            <!--Sidebar-->
            <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
                <!-- Widget -->
                <div class="widget mb2">
                    <button class="widget-button"><i class="lni-printer"></i></button>
                    <button id="addFav" class="widget-button"><i class="lni-star"></i></button>
                    <button class="widget-button"><i class="lni-zip"></i></button>
                    <input type="hidden" id="modelId" asp-for="Id" />
                    <input type="hidden" id="isFavourite" asp-for="IsMarkedAsFavourite" />
                    <div class="clearfix"></div>
                </div>

                <!-- Property Agent Widget -->
                <div class="widget mt3">
                    <div class="agent-inner">
                        <div class="agent-title">
                            <div class="agent-photo">
                                <a href="#"><img src="~/assets/img/avatar/profile-anonimous.png" alt=""></a>
                            </div>
                            <div class="agent-details">
                                <h3><a href="#">@((await UserManager.FindByNameAsync(Model.PostedBy)).DisplayName)</a></h3>
                                <span><i class="lni-phone-handset"></i>@((await UserManager.FindByNameAsync(Model.PostedBy)).PhoneNumber)</span>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Your Email">
                        <input type="text" class="form-control" placeholder="Your Phone">
                        <input type="hidden" id="propertyOwner" asp-for="@Model.PostedBy">
                        <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p>
                        <br />
                        <button type="button" class="btn btn-common btn-block"
                                data-toggle="modal" data-target="#modalPoll-1">
                            View reviews <i class="far fa-comment-dots ml-1"></i>
                        </button>
                    </div>
                </div>

                <!-- Property Featured Widget -->
                <div class="widget mt3">
                    <h3 class="sidebar-title">Featured Properties</h3>
                    <div id="listing-carousel" class="owl-carousel">
                        <div class="item">
                            <div class="listing-item">
                                <a href="#" class="listing-img-container">
                                    <img src="assets/img/productinfo/listing1.jpg" alt="">
                                    <div class="listing-badges">
                                        <span class="featured">Featured</span>
                                        <span>For Sale</span>
                                    </div>
                                    <div class="listing-content">
                                        <span class="listing-title">Eagle Apartments <i>$275,000</i></span>
                                        <ul class="listing-content">
                                            <li>Area <span>530 sq ft</span></li>
                                            <li>Rooms <span>3</span></li>
                                            <li>Beds <span>1</span></li>
                                            <li>Baths <span>1</span></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listing-item">
                                <a href="#" class="listing-img-container">
                                    <img src="assets/img/productinfo/listing2.jpg" alt="">
                                    <div class="listing-badges">
                                        <span class="featured">Featured</span>
                                        <span>For Sale</span>
                                    </div>
                                    <div class="listing-content">
                                        <span class="listing-title">Eagle Apartments <i>$275,000</i></span>
                                        <ul class="listing-content">
                                            <li>Area <span>530 sq ft</span></li>
                                            <li>Rooms <span>3</span></li>
                                            <li>Beds <span>1</span></li>
                                            <li>Baths <span>1</span></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listing-item">
                                <a href="#" class="listing-img-container">
                                    <img src="assets/img/productinfo/listing3.jpg" alt="">
                                    <div class="listing-badges">
                                        <span class="featured">Featured</span>
                                        <span>For Sale</span>
                                    </div>
                                    <div class="listing-content">
                                        <span class="listing-title">Eagle Apartments <i>$275,000</i></span>
                                        <ul class="listing-content">
                                            <li>Area <span>530 sq ft</span></li>
                                            <li>Rooms <span>3</span></li>
                                            <li>Beds <span>1</span></li>
                                            <li>Baths <span>1</span></li>
                                        </ul>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mortgage widget -->
                <div class="widget">
                    <h3 class="sidebar-title">Mortgage Calculator</h3>
                    <form class="mortgage-calc">
                        <p class="tip-content">Set This Property Price</p>
                        <div class="calc-input">
                            <input type="text" class="form-control" name="amount" placeholder="Sale Price" required="">
                            <label>$</label>
                        </div>
                        <div class="calc-input">
                            <input type="text" class="form-control" placeholder="Down Payment">
                            <label class="fa fa-usd">$</label>
                        </div>
                        <div class="calc-input">
                            <input type="text" class="form-control" placeholder="Loan Term (Years)" required="">
                            <label class="lni-calendar"></label>
                        </div>
                        <div class="calc-input">
                            <input type="text" class="form-control" placeholder="Interest Rate" required="">
                            <label>%</label>
                        </div>
                        <button class="btn btn-common">Calculate</button>
                    </form>
                </div>

                <!-- Social Media -->
                <div class="widget widget-social">
                    <h3 class="sidebar-title">Social Media</h3>
                    <ul class="social-icons">
                        <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                        <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                        <li><a class="google" href="#"><i class="lni-google-plus"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                    </ul>
                </div>

            </aside>
            <!--End sidebar-->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="desc-title">Similar Properties</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="assets/img/property/house-1.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label bg-red">For Sale</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Amazing oceanfront apartment</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Drive Street, Los Angeles, US</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>$1,500</span>
                                    </div>
                                    <p><span>4 bds</span> . <span>4 ba</span> . <span>2500 Sqft</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="assets/img/property/house-2.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">For Rent</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Family Condo</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Louis, Missouri, US</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>$27,00</span>
                                    </div>
                                    <p><span>6 bds</span> . <span>8 ba</span> . <span>2600 Sqft</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="assets/img/property/house-3.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label bg-yellow">New</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Guaranteed modern home</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Avenue C, New York, US</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>$1,750</span>
                                    </div>
                                    <p><span>8 bds</span> . <span>8 ba</span> . <span>3000 Sqft</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>