@inject UserManager<ApplicationUser> UserManager

@using Homefind.Core.Constants
@using Homefind.Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@model Homefind.Web.Models.PropertyViewModels.ListWithFilterModel

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpPWjqZSUIVw2EA2y3NGccb9PX8U3G1_M&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script src="~/Scripts/home.js"></script>
}

<!-- Intro Section Start -->
<section id="intro" class="section-intro">
    <div class="search-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="intro-sub-heading">Are you searching for a new place to live ?</h4>
                    <h2>Find Best Properties<br> in One Place</h2>
                    <div class="content">
                        <form method="post" asp-action="Index" asp-controller="Property">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <input asp-for="FilterSpecification.Address" id="autocomplete" class="form-control" type="text" placeholder="Enter City, street Keywords or Adress">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-xs-12">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select asp-for="FilterSpecification.Reason" class="classic">
                                                <option value="@ListingType.All">@ListingType.All.GetDescription()</option>
                                                <option value="@ListingType.Rental">@ListingType.Rental.GetDescription()</option>
                                                <option value="@ListingType.Selling">@ListingType.Selling.GetDescription()</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-xs-12">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select asp-for="FilterSpecification.Type" class="classic"
                                                    asp-items="@(new SelectList(ViewBag.PropertyTypes, "Id", "TypeName"))">
                                                <option>@Constants.SelectAllTypes</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-xs-12">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select asp-for="FilterSpecification.City" class="classic"
                                                    asp-items="@(new SelectList(ViewBag.Cities))">
                                                <option>@Constants.SelectAllCities</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-xs-12">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select asp-for="FilterSpecification.Bedrooms" class="classic"
                                                    asp-items="@(new SelectList(Constants.SelectBeds))">
                                                <option>Bedroom</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row range-slider">
                                <div class="col-lg-3 col-md-12 col-xs-12">
                                    <div class="search-category-container">
                                        <label class="styled-select">
                                            <select asp-for="FilterSpecification.Bathrooms" class="classic"
                                                    asp-items="@(new SelectList(Constants.SelectBaths))">
                                                <option>Bathroom</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-xs-12">
                                    <!-- Page contents -->
                                    <input id="hdn-price-from" type="hidden" asp-for="FilterSpecification.PriceFrom" />
                                    <input id="hdn-price-to" type="hidden" asp-for="FilterSpecification.PriceTo" />
                                    <input type="text" id="range" value="" name="range" />
                                </div>
                                <div class="col-lg-3 col-md-12 col-xs-12">
                                    <div class="text-right btn-section">
                                        <button type="submit" class="btn btn-common"><i class="lni-search"></i> Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Intro Section End -->

<!-- Property Section Start -->
<section class="property section-padding">
    @await Component.InvokeAsync("Recommended", new { user = User.Identity.Name })
</section>
<!-- Property Section End -->

<!-- Latest Property Start -->
<section class="latest-property section-padding">
    @await Component.InvokeAsync("Latest", new { howMany = 6 })
</section>
<!-- Latest Property End -->