@using Homefind.Core.Constants
@model Homefind.Web.Models.PropertyViewModels.SubmitPropertyModel

@{
    ViewData["Title"] = "SubmitProperty";
}

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpPWjqZSUIVw2EA2y3NGccb9PX8U3G1_M&libraries=places"></script>
    <script src="~/Scripts/location.js"></script>
    <script src="~/Scripts/submission-form.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpPWjqZSUIVw2EA2y3NGccb9PX8U3G1_M&libraries=places&callback=initAutocomplete"
            async defer></script>
}

@section Styles{
    <link href="~/assets/css/imageUploader.css" rel="stylesheet" />
}

<section class="user-page submit-property section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="notification-box mb-5">
                    <h3>Don't Have an Account?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac tortor at tellus feugiat congue quis ut nunc. Semper ac dolor vitae accumsan.</p>
                </div>

                <div id="notification-wrapper">
                    <input id="notification-message" type="hidden" value="@ViewBag.notification" />
                </div>

                <div class="submit-form">
                    <form asp-action="Submit" asp-controller="Property" method="post" enctype="multipart/form-data">
                        <h3 class="heading">Basic Information</h3>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Property Title</label>
                                    <input asp-for="Title" type="text" class="form-control" placeholder="Property Title" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select asp-for="Reason" class="classic">
                                        <option value="@ListingType.Rental">@EnumHelper.GetDescription(ListingType.Rental)</option>
                                        <option value="@ListingType.Selling">@EnumHelper.GetDescription(ListingType.Selling)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Type</label>
                                    <select class="classic"
                                            asp-for="EstateTypeId"
                                            asp-items="@(new SelectList(ViewBag.PropertyTypes, "Id", "TypeName"))"></select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input asp-for="Price" class="form-control" placeholder="USD" required>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>Area/Location</label>
                                    <input asp-for="CarpetArea" class="form-control" placeholder="SqFt" required>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>Bedrooms</label>
                                    <select asp-for="Bedrooms" class="classic">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="form-group">
                                    <label>Bathroom</label>
                                    <select asp-for="Bathrooms" class="classic">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <h3 class="heading">Property Gallery</h3>
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <fieldset class="form-group">
                                    <input class="form-control" asp-for="Images" type="file" id="images" name="images" multiple required>
                                </fieldset>
                                <div class="image-container">
                                </div>
                            </div>
                        </div>
                        <h3 class="heading">Location</h3>
                        <div class="row mb-3">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input asp-for="Address" id="autocomplete" type="text" onFocus="geolocate()" name="address" class="form-control" placeholder="Address" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input id="postal_code" asp-for="ZipCode" type="text" class="form-control" disabled="disabled" placeholder="Postal Code">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input id="locality" class="form-control" asp-for="City" disabled="disabled" placeholder="City" required />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input id="country" class="form-control" asp-for="Country" disabled="disabled" placeholder="Country" required />
                                </div>
                            </div>
                        </div>

                        <h3 class="heading">Detailed Information</h3>
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <div class="form-group message">
                                    <label>Detailed Information</label>
                                    <textarea asp-for="Description" class="form-control" placeholder="Detailed Information" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label>Building Age (optional)</label>
                                    <select class="classic">
                                        <option>0-5 Years</option>
                                        <option>0-10 Years</option>
                                        <option>0-15 Years</option>
                                        <option>0-20 Years</option>
                                        <option>0-25 Years</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <h3 class="heading">Features (optional)</h3>
                        <div class="row mb-3">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="HasCarParking" class="form-check-input" type="checkbox" id="free-parking">
                                        <label class="form-check-label" for="free-parking">Car parking</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="HasInternet" class="form-check-input" type="checkbox" id="has-internet">
                                        <label class="form-check-label" for="has-internet">Internet</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="HasTv" class="form-check-input" type="checkbox" id="has-tv">
                                        <label class="form-check-label" for="has-tv">TV</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="IsFurnished" class="form-check-input" type="checkbox" id="is-furnished">
                                        <label class="form-check-label" for="is-furnished">Furnished</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="HasAirConditioning" class="form-check-input" type="checkbox" id="air-condition">
                                        <label class="form-check-label" for="air-condition">Air conditioning</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="HasSwimmingPool" class="form-check-input" type="checkbox" id="swimming-pool">
                                        <label class="form-check-label" for="swimming-pool">Swimming pool</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input asp-for="ArePetsAllowed" class="form-check-input" type="checkbox" id="allow-pets">
                                        <label class="form-check-label" for="allow-pets">Pets allowed</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="heading">Contact Details</h3>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" name="name" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Create" class="btn btn-common" />
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

