@using Homefind.Core.Constants
@model Homefind.Web.Models.PropertyViewModels.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home | Homefind - Real estate</title>

    @RenderSection("Styles", required: false)

    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="~/assets/fonts/line-icons.css" />
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slicknav.css" />
    <!-- Range Slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/ion.rangeSlider.css" />
    <!-- Range Slider  -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/ion.rangeSlider.skinFlat.css" />
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/nivo-lightbox.css" />
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css" />
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.css" />
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css" />
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css" />
</head>
<body>
    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Start Top Bar -->
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9 col-xs-12">
                    </div>
                    <div class="col-lg-5 col-md-3 col-xs-12">
                        @await Html.PartialAsync("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white" data-toggle="sticky-onscroll">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="lin-menu"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Home", "Property")">
                        <h3>Homefind</h3>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Property", new { listingType = ListingType.Selling })">For Sale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Property", new { listingType = ListingType.Rental })">For Rent</a>
                        </li>
                    </ul>
                    <div class="search-add float-right">
                        <form method="post" asp-action="Index" asp-controller="Property">
                            <div class="form-group">
                                <input type="search" asp-for="Search" name="searchText" placeholder="Search Here" required="">
                                <button type="submit" class="search-btn"><span class="lni-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Start -->
            <ul class="mobile-menu">
                <li>
                    <a href="@Url.Action("Index", "Property", new { listingType = ListingType.All })">Listing</a>
                    <ul class="dropdown">
                        <li><a href="@Url.Action("Index", "Property", new { listingType = ListingType.Selling })">For Sale</a></li>
                        <li><a href="@Url.Action("Index", "Property", new { listingType = ListingType.Rental })">For Rent</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Mobile Menu End -->
        </nav>
        <!-- Navbar End -->
    </header>
    <!-- Header Area wrapper End -->

    <div>
        @RenderBody()
    </div>

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-chevron-up"></i>
    </a>

    <!-- Preloader -->
    <div id="preloader">
        <div class="loader" id="loader-1"></div>
    </div>
    <!-- End Preloader -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/assets/js/jquery-min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/color-switcher.js"></script>
    <script src="~/assets/js/jquery.mixitup.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/ion.rangeSlider.js"></script>
    <script src="~/assets/js/jquery.parallax.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/nivo-lightbox.js"></script>
    <script src="~/assets/js/jquery.slicknav.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/assets/js/form-validator.min.js"></script>
    <script src="~/assets/js/contact-form-script.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
