@using Homefind.Web.Extensions
@using Homefind.Web.Models.PropertyViewModels

@model PagedCollection<FavouritesModel>

@{
    ViewData["Title"] = "Profile";
    ViewData["HasNext"] = Model.HasNextPage ? "" : "disabled";
    ViewData["HasPrevious"] = Model.HasPreviousPage ? "" : "disabled";
}

<!-- Page Banner Start -->
<div id="page-banner-area" class="page-banner">
    <div class="page-banner-title">
        <div class="text-center">
            <h2>Favourites</h2>
            <a href="#"><i class="lni-home"></i> Profile</a>
            <span class="crumbs-spacer"><i class="lni-chevron-right"></i></span>
            <span class="current">Favourites</span>
        </div>
    </div>
</div>
<!-- Page Banner End -->
<!-- Ueser Section Start -->
<section class="user-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-xs-12">
                <div class="user-profile-box">
                    <!--header -->
                    <div class="header clearfix">
                        <h2>@User.Identity.Name</h2>
                        <h4>Real Estate Agent</h4>
                        <img src="~/assets/img/avatar/profile-anonimous.png" alt="avatar" class="img-fluid profile-img">
                    </div>
                    <!-- Detail -->
                    <div class="detail clearfix">
                        <ul>
                            <li>
                                <a asp-controller="Profile" asp-action="Dashboard">
                                    <i class="lni-files"></i> Dashboard
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="Profile">
                                    <i class="lni-user"></i>Profile
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Profile" asp-action="Favourites" class="active">
                                    <i class="lni-heart"></i>Favorited Properties
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Property" asp-action="Submit">
                                    <i class="lni-plus"></i>Submit New Property
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="fav-list-container" class="col-lg-8 col-md-7 col-xs-12">
                <div class="my-properties">

                    @* List of favourite properties *@
                    <form method="post">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th></th>
                                    <th>Date Added</th>
                                    <th>Views</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var favourite in Model)
                                {
                                    <tr>
                                        <td class="image">
                                            <a href="#">
                                                <img alt="image" src='@Url.Action("ViewImage", "Property", new { imageId = favourite.AvatarImageId })'
                                                     class="img-fluid">
                                            </a>
                                        </td>
                                        <td>
                                            <div class="inner">
                                                <a href="#"><h2>@favourite.Title</h2></a>
                                                <figure><i class="lni-map-marker"></i> @($"{favourite.Address}, {favourite.City}")</figure>
                                                <div class="tag price">$ @favourite.Price</div>
                                            </div>
                                        </td>
                                        <td>@favourite.DateAdded.ToShortDateString()</td>
                                        <td>@favourite.Views</td>
                                        <td class="actions">
                                            <div class="action-delete">
                                                <i class="far fa-trash-alt" data-toggle="modal" data-target="#modalConfirmRemoveFavourite"
                                                   data-myvalue="@favourite.EstateUnitId"></i>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>

                    @* pagination *@
                    <form method="get" asp-controller="Profile" asp-action="Favourites">
                        <div class="pagination-container">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="btn btn-common @ViewData["HasPrevious"]" asp-route-page="@(Model.PageIndex - 1)">
                                            <i class="lni-chevron-left"></i> Previous
                                        </a>
                                    </li>
                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li class="fav page-item">
                                            @if (Model.PageIndex == i)
                                            {
                                                <a class="page-link page-selected" asp-route-page="@i">@i</a>
                                            }
                                            else
                                            {
                                                <a class="page-link" asp-route-page="@i">@i</a>
                                            }
                                        </li>
                                    }
                                    <li class="page-item">
                                        <a class="btn btn-common @ViewData["HasNext"]" asp-route-page="@(Model.PageIndex + 1)">
                                            Next
                                            <i class="lni-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </form>

                    <!-- Modal -->
                    <div class="modal fade" id="modalConfirmRemoveFavourite" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    Remove item from favourites?
                                    <input type="hidden" id="modal-myvalue" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    <button id="btnRemoveFromFavourites" type="button" class="btn btn-primary">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
